extends ../layout/index.pug

mixin renderTextEvent(event)
  .index-box-item
    a(href='/tapahtumat/' + event.id)
      .index-box-item-header
        span
          =event.shortDate
      .index-box-item-content
        !=event.name
        i.fa.fa-chevron-right

mixin event(event)
  .event-banner-item(data-lazy-bg-image=event.imageSrc,data-lazy-bg-size='.carousel-inner')
    .row
      a.banner-link(href=event.originalUrl, target="_blank")
        .event-banner-content-container
          .event-banner-text-container
            h3
              =event.name + " " + event.startHumanReadable

mixin newsArticle(article)
  .index-box-item
    a(href='/uutiset/' + article.slug)
      .index-box-item-header
        span
          =article.shortDate
      .index-box-item-title
        h6
          =article.title
      .index-box-item-content
        !=article.shortAbstract
        i.fa.fa-chevron-right
      
mixin renderAnnouncement(announcement)
  .index-box-item
    a(href='/kuulutukset/' + announcement.slug)
      .index-box-item-header
        span
          =announcement.shortDate
      .index-box-item-content
        p 
          =announcement.title
        i.fa.fa-chevron-right
      
mixin banner(banner)
  .header-banner-item(data-lazy-bg-image=banner.imageSrc,data-lazy-bg-size='.carousel-inner')
    .row
     .col-lg-10.col-xs-24.banner-content-container(style='background-color: '+banner.bgcolor)
      if banner.link
        a.banner-link(href=banner.link,target="_blank")
      h1(style=banner.style)
        =banner.title
      .banner-text-container
        .banner-text(style=banner.style)
          !=banner.contents

mixin events-slider(events)
  .events-banner
    #event-slide.carousel.slide(data-ride='carousel')
      .banner-carousel-items
        .carousel-inner(role='listbox')
          each event, eventIndex in events
            - var itemClass=eventIndex == 0 ? "carousel-item active" : 'carousel-item'
            div(class=itemClass)
              +event(event)
  
mixin banners-slider(banners) 
  .header-banner
    #banner-slide.carousel.slide(data-ride='carousel')
      .col-xs-24.col-lg-6.quick-nav-buttons-container
        .row
          .col-xs-6.col-lg-12.pull-lg-right.no-gutters.quick-nav-button-container
            .quick-nav-container
              a(href="#")
                .quick-nav-icon-container
                  img.quick-nav-icon.img-responsive(src="/gfx/layout/aukioloajat.png")
                .quick-nav-title
                  h4 Palveluiden aukioloajat
          .col-xs-6.col-lg-12.pull-lg-right.no-gutters.quick-nav-button-container
            .quick-nav-container
              a(href="#")
                .quick-nav-icon-container
                  img.quick-nav-icon.img-responsive(src="/gfx/layout/osallistu.png")
                .quick-nav-title
                  h4 Osallistu ja vaikuta
          .col-xs-6.col-lg-12.pull-lg-right.no-gutters.quick-nav-button-container
            .quick-nav-container
              a(href="/tapahtumat")
                .quick-nav-icon-container
                  img.quick-nav-icon.img-responsive(src="/gfx/layout/tapahtumat.png")
                .quick-nav-title
                  h4 Tapahtumat
          .col-xs-6.col-lg-12.pull-lg-right.no-gutters.quick-nav-button-container
            .quick-nav-container
              a(href="http://mantyharju.karttatiimi.fi/",target="_blank")
                .quick-nav-icon-container
                  img.quick-nav-icon.img-responsive(src="/gfx/layout/kartat.png")
                .quick-nav-title
                  h4 Kartat
      .banner-carousel-items
        .carousel-inner(role='listbox')
          each banner, bannerIndex in banners
            - var itemClass=bannerIndex === 0 ? "carousel-item active" : 'carousel-item'
            div(class=itemClass)
              +banner(banner)

mixin tile(tile)
  if tile
    a.tile-link(href=tile.link,target="_blank")
      .tile(data-lazy-bg-image=tile.imageSrc)
        if tile.contents
          !=tile.contents

mixin footerTile(tile)
  a(href=tile.link,target="_blank")
    .footer-tile(data-lazy-bg-image=tile.imageSrc)
    if tile.contents
      .footer-tile-contents
        !=tile.contents

mixin footerTileMovies(tile)
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner
      each url,index in imageUrls
        - var itemClass=index == 0 ? "carousel-item active" : 'carousel-item'
        div(class=itemClass)
          a(href=tile.link,target="_blank")
            .footer-tile(data-lazy-bg-image=url)
            if tile.contents
              .footer-tile-contents
                !=tile.contents
    
block styles
  link(rel="stylesheet", href="/css/index.min.css")

block scripts
  script(defer="defer", type="text/javascript", src="//cdn.metatavu.io/libs/bigtext/0.1.8/bigtext.js")
  script(defer="defer", type="text/javascript", src="//cdn.metatavu.io/libs/masonry/4.1.1/masonry.pkgd.min.js")
  script(defer="defer", type="text/javascript", src="//cdn.metatavu.io/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js")
  script(defer="defer", type="text/javascript", src="/js/index.js")

block content
  .container.no-gutters
    .row
      .col-xs-24
        +banners-slider(banners)
        
  .container.no-gutters
    .row
      .col-xs-24.col-lg-12.no-gutter-right
        .row
          .col-xs
            .index-box
              ul.index-box-banner.nav.nav-tabs
                li.nav-item
                  a.nav-link.news-tab.active(data-toggle="tab", href="#news-tab", role="tab")
                    h4
                      img(src="/gfx/layout/news_logo_temp.jpg")
                      | Ajankohtaista
                li.nav-item
                  a.nav-link.announcements-tab(data-toggle="tab", href="#announcements-tab", role="tab")
                    h4
                      img(src="/gfx/layout/announcements_logo_temp.jpg")
                      | Kuulutukset
              .index-box-content.tab-content
                .tab-pane.active#news-tab(role="tabpanel")
                  each newsArticle in news
                    +newsArticle(newsArticle)
                  a.read-more(href="/uutiset") 
                    | Lisää uutisia
                    i.fa.fa-chevron-right
                .tab-pane#announcements-tab(role="tabpanel")
                  each announcement in announcements
                    +renderAnnouncement(announcement)
                  a.read-more(href="/kuulutukset") 
                    | Lisää kuulutuksia
                    i.fa.fa-chevron-right
        .row
          .col-xs
            +tile(tileMap['etusivu-mainos'])
        .row
          .col-xs
            +footerTileMovies(tileMap['footer-1'])
      .col-xs-24.col-lg-12
        .row
          .col-xs
            +events-slider(events)
        .row
          .col-xs
            .index-box
              ul.index-box-banner.nav.nav-tabs
                li.nav-item
                  a.nav-link.events-tab.active(data-toggle="tab", href="#events-tab", role="tab")
                    h4
                      img(src="/gfx/layout/tapahtumat_small.png")
                      | Tapahtumat
              .index-box-content.tab-content
                .tab-pane.active#events-tab(role="tabpanel")
                  each event in events
                    +renderTextEvent(event)
                  a.read-more(href="/tapahtumat")
                    | Lisää tapahtumia
                    i.fa.fa-chevron-right
        .row
          .col-xs
            +tile(tileMap['etusivu-mainos-2'])
        .row
          .col-xs
            +footerTile(tileMap['footer-2'])