extends ../layout/contents.pug

include ../includes/mixins.pug

block styles
  link(rel="stylesheet", href="/css/contents-common.min.css")
  link(rel="stylesheet", href="/css/news.min.css")

block content
  .container.page-container
    .row
      +breadcrumbs(breadcrumbs)
        
  .container.page-container
    .row
      .col-lg-5.page-nav.no-gutter-left.hidden-md-down
        h3
          =folderTitle
        each sibling in siblings
          +commonMenuItem(sibling)
      .col-xs-24.hidden-lg-up
        a.btn.btn-primary(title='Näytä valikko', data-toggle='collapse', href='#collapse-menu', aria-expanded='false', aria-controls='collapse-menu')
          i.fa.fa-bars
        .collapse#collapse-menu
          .col-xs-24.col-lg-5.page-nav.no-gutters
            each sibling in siblings
              +commonMenuItem(sibling)
      .col-xs-24.col-lg-19
        .page-content
          .row
            .col-xs-24.title-container
              h1
                !=title
          if imageSrc
            .row
              .col-xs-24.image-container
                .featured-image(data-lazy-bg-image=imageSrc)
          .row
            .col-xs-24
              !=contents
          .row
            .col-xs-24.tags
               each tag in tags
                a.tag(href='/uutiset/?tag=' + tag)
                  =tag
block ogTags
  - var pageUrl = baseUrl + pageRoute
  - var imageUrl = baseUrl + imageSrc
  meta(property='og:url', content=pageUrl)
  meta(property='og:title', content=title)
  meta(property='og:description', content=ogContent)
  meta(property='og:image', content=imageUrl)